:root {
    --main-color: black;
    --main-background-color: white;
    
    --selected-background-color: blue;
    --selected-background-hover-color: #0063ff;
    --selected-color: white;

    --columns-separator-color: white;

    --scrollbar-border-color: lightgray;
    --scrollbar-grip-color: rgb(209, 209, 209);
    --scrollbar-button-active-color: #aaa;
    --scrollbar-image-color: #666;
    --scrollbar-border-active-color: #444;
    --scrollbar-grip-color: rgb(209, 209, 209);
    --scrollbar-grip-hover-color: #bbb;
    --scrollbar-grip-active-color: #999;
    
    --menu-background-color: #eee;
    --menu-hover-color: lightblue;
    --menu-separator-color: #ddd;
    --menu-border-color: lightgray;
    --menu-shadow-color: rgba(0, 0, 0, 0.21);
}
